<ion-content>
  <ion-content [fullscreen]="true" >
    <ion-card class="transparent">
     <ion-card-title class="ion-text-center">CoronavirusApp </ion-card-title>
  <ion-card-content>
    Esta aplicación fue creada para ver los datos actualizados de los casos de coronavirus
    por país, los nombres de estos están en inglés y si desea ver los datos a nivel mundial
    puede buscar por la palabra World.
  </ion-card-content>
  <ion-button color="danger" expand="full" shape="round" routerLink= "/home"> 
    <ion-icon slot="end" name="earth"></ion-icon> Aceptar </ion-button>
    </ion-card>
  
</ion-content>
